<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <!-- Navigation -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Quizz Application</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" v-bind:href="link1">{{menuItem1}}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" :href="link2">{{menuItem2}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{menuItem3}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{menuItem4}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <script>
        /*
   <!-- Page Content -->
    <div class="container" id="app" v-if="hide">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">{{title}}</h1>
                <p class="lead" v-if="addElt">Lancement de l'application</p>
                <p class="lead" v-else="addElt">Fermeture de l'application</p>
                <ul class="list-unstyled" v-show="showElt">
                    <li>Bootstrap 4.3.1</li>
                    <li>jQuery 3.4.1</li>
                </ul>

                <ul v-show="showElt">
                    <li v-for="day in tabDays">{{day}}</li>
                </ul>
                <button type="button" class="btn btn-primary" v-on:click="show">Show</button>
                <button type="button" class="btn btn-primary" @click="hide">Hide</button>
                <label for="title">Affichage de la liste</label><input type="checkbox" v-model="showElt" />

                <div class="alert" :class="lvlAlert ? 'alert-success' : 'alert-warning'" role="alert">
                    Test avec des alertes
                </div>
                <div class="alert alert-primary" :style="style()" role="alert">
                    Test avec des alertes
                </div>
                <label for="title">Affichage de la liste selon</label>
                <input type="checkbox" v-model="cls" true-value="alert-success" false-value="alert-danger" />
                <div class="alert" :class="cls" role="alert">
                    Test avec des alertes selon
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="app2" v-if="hide">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">VueJS 3/16 : L'instance</h1>

                <ul>
                    <li v-for="day in tabDays">{{day}}</li>
                </ul>
                <button @click="addDay">Ajouter un jour</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{seconds}}
            </div>
        </div>

    </div>

    <div class="container" id="app3" v-if="hide">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">VueJS 4/16 : Propriétés combinés & watchers</h1>

                <input type="checkbox" v-model="success" />
                <div class="alert" :class="cls">
                    Coucou toi !
                </div>
                <input type="text" v-model="message" />
                <p>
                    Prénom : {{firstName}}
                </p>
                <p>
                    Nom : {{lastName}}
                </p>
                <p>
                    Nom complet : {{fullName}}
                </p>
                <p>
                    Nom complet edit: <input type="text" v-model="fullNameEdit">
                </p>
                <p>
                    Nom complet watch: <input type="text" v-model="fullNameEdit">
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="app4" v-if="hide">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">VueJS 5/16 :Les directives</h1>
                <!-- 
                    Sur les click :
                    le @click.prevent evite de rajouter un e.preventDefault en JS
                    Ou .stop ou .prevent.stop pour faire de la propagation vers le haut
                    .capture et .self existe aussi pour les types click
                    ..
                    Sur les input :
                    le .lazy évite de modifier le message en même temps que le texte mais qu'une fois l'input non focus
                    l'evenement ne sera pas lancer à chaque fois qu'on écrit mais au onChange
                    Il existe aussi .number ou .trim (.number marche genre 0001 = 1)
                    ..
                    Sur les keyUp :
                    On peut indiquer une keyUp uniquement sur barre espace ou autre avec @keyUp.space ou .enter
                    .. 
                    On peut créer des directives : 
                    ex : v-toto.dir1.dir2 ="methods"
                

                -->
                <a href="http://www.google.fr" @click.prevent="launch">Go to google</a>
                <input type="text" v-model.number="message" @keyup.space="launch" />
                {{message | uppercaseAvecPrefixe('je suis un prefixe')}}
                <input type="text" v-toto.dir1.dir2="message" />
            </div>
        </div>
    </div>

    <div class="container" id="app5" v-if="hide">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">VueJS 6/16 :Les components</h1>
                <!-- 
                 

                -->
                <moncomponent :message="message">Test</moncomponent>
                <counter></counter>
                <counter :start="3"></counter>
                <form-user v-model="user">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi tenetur molestiae quia
                    officiis et? Quam, temporibus veritatis quisquam mollitia debitis corporis. Eius quibusdam,
                    quidem quia odio obcaecati nisi reiciendis soluta.
                    <div slot="texte1"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia consectetur
                        architecto tempora quam
                        corporis possimus, non tenetur facilis saepe. Impedit delectus dolores eos inventore suscipit
                        reiciendis provident temporibus alias nam.</div>
                    <div slot="texte2"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia consectetur
                        architecto tempora quam
                        corporis possimus, non tenetur facilis saepe. Impedit delectus dolores eos inventore suscipit
                        reiciendis provident temporibus alias nam.</div>
                </form-user>
                <p>{{user}}</p>

            </div>
        </div>
    </div>

    */
    </script>


    <div class="container" id="app6">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">VueJS 7/16 : Les stores</h1>
                <counter></counter>
                <notifications></notifications>

            </div>
        </div>
    </div>


    <script src=" https://cdn.jsdelivr.net/npm/vue"> </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="js/app.js"></script>
</body>

</html>