h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.row+.row {
  margin-top: 1em;
}

.card {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}

.card-text {
  color: #ecf0f1;
  font-size: 1.5em;
}

.show {
  display: block;
  background-color: #00000080;
}

.modal-content {
  color: #fff;
  text-align: center;
}

.modal-title {
  text-transform: uppercase;
}

.modal-footer,
.modal-title {
  justify-content: center;
}

.modal-header {
  border-bottom-color: #dee2e66e;
}

.modal-footer {
  border-top-color: #dee2e66e;
}

.modal-end .modal-content {
  color: #000;
}

/* PULSE */

.pulse {
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  transform: scale(1);
  animation: pulse 1s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
  }

  70% {
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
  }

  70% {
    transform: scale(1);
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    transform: scale(0.95);
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
